RewriteEngine On
RewriteBase /


DirectoryIndex Index/index.html


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


RewriteRule ^(Login|Panel_A_U|PHP)/(.*).html$ $1/$2.php [L,QSA]
